boto3==1.26.67
datasets==2.8.0
hyperopt==0.2.7
mlflow==2.7.1
numpy==1.24.1
pytorch-lightning==2.1.1
pytorch-metric-learning==2.2.0
pytorch-transformers==1.2.0
torch==2.0.0+cu117
torch-cluster==1.6.0+pt112cu102
torch-geometric==2.2.0
torch-scatter==2.1.0+pt112cu102
torch-sparse==0.6.16+pt112cu102
torch-spline-conv==1.2.1+pt112cu102
torch-tensorrt==1.2.0
torchaudio==2.0.1+cu117
torchdata==0.6.0
torchmetrics==1.2.0
torchsummary==1.5.1
torchtext==0.15.0+cpu
torchvideo==0.0.0
torchvision==0.15.0+cu117
transformers==4.33.0
sentence-transformers==2.2.2
scipy==1.8.1