.es-color {
    color: #6654a8;
}

.center {
    display: block;
    margin: 0 auto;
}

.md-header {
    background-color: #333333;
}

.md-tabs {
    background-color: #333333;
}

.md-footer-meta {
    background-color: #333333;
}

.md-banner__inner {
    font-size: 0.75rem;
}

.stars-goal-img {
    vertical-align: middle;
    margin-left: 0.3rem;
    margin-bottom: 0.15rem
}

.es-container {
    padding-top: .0rem;
}

.es-product {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    justify-content: center;

}

.es-product h1 {
    margin-bottom: 0rem;
    font-weight: 700;
    font-size: 3.6rem;
    color: #6654a8;
}


.es-logo-slogan {
    margin-top: 0;
    argin-left: 0.15rem;
    font-size: 1.25rem;
    color: #666666;
}

.es-product__content {
    padding-bottom: 1rem;
    max-width: 32rem;
    margin: 0 2rem;
}

.es-product__image {
    display: none;
}

.es-product .md-button {
    color: #6654a8;
    border: 0.125rem solid #6654a8;
    height: 2.5rem;
    padding: 0.5rem 1.125rem;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    line-height: 1.25rem;
    margin-right: 0.313rem;
}

.es-product .md-button--primary {
    color: #FFF;
    border: 0.125rem solid #6654a8;
    background: #6654a8;
}

.es-product .md-button:focus,
.es-product .md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color)
}


.top-hr {
    margin-top: 2.625rem;
}

.feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0.1rem 1rem;
    word-break: break-word
}

.feature-item h2 {
    color: #333;
    font-weight: 300;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
}

.feature-item h2 img {
    height: 1.5rem;
    float: left;
    margin-right: 0.6rem;
    margin-top: 0rem;
}

.feature-item p {
    font-size: 0.75rem;
    line-height: 1.5em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    margin: 0 0 0.5rem;
    display: block;
}

@media screen and (max-width: 42em) {
    .es-product h1 {
        font-size: 2.8rem;
        margin-right: 0;
    }

    .es-product__image {
        display: none;
    }

    .es-logo-slogan {
        margin-top: 0;
        argin-left: 0.1rem;
        font-size: 1rem;
    }


}

@media screen and (min-width: 60em) {

}

@media screen and (min-width: 76.25em) {

    .es-product {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .es-product__content {
        max-width: 35rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        margin-left: 3.5rem;
        margin-right: 6rem;
        align-items: center;
    }


    .es-product__image {
        width: 17rem;
        height: 17rem;
        order: 1;
        padding-right: 0;
        padding-top: 0;
        display: block;
    }

    .top-hr {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }

    .feature-item {
        flex: 1;
        min-width: 0;
    }
}

.hr {
    border-bottom: 0.063rem solid #eee;
    width: 100%;
    margin: 1.25rem 0;
}

.text-center {
    text-align: center;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.938rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.438rem;
    font-weight: 300;
    padding-bottom: 0.625rem;
}

.disclaimer {
    font-size: 0.75rem;
    max-width: 50%;
}

.top-hr.cards {
    display: flex; /* Flex container to center the image */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}

.card {
    display: flex;
    width: 80%;
    border: 0.063rem solid #ddd;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 0.625rem;
    font-size: 0.75rem;
    line-height: 1.4rem;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    border-radius: 0.625rem; /* Rounded corners for the card */
    transition: transform 0.3s ease; /* Animation for card scaling */
}

.card:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.card-image {
    width: 30%;
    display: flex; /* Flex container to center the image */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}

.card-image img {
    width: 80%;
    height: auto;
    display: block;
}

.card-content {
    width: 50%;
    padding: 1.25rem;
}

.card-header h2 {
    margin: 0;
    color: #333;
}

.card-header img {
    max-width: 0.94rem;
    max-height: 0.94rem;
}

.card-text {
    margin-top: 0.94rem;
    color: #111;
}

@media screen and (max-width: 37.5rem) {
    .top-hr.cards {
        flex-direction: column; /* Stack cards vertically */
    }

    .card {
        flex-direction: column; /* Stack image and content vertically */
        width: 100%; /* Full width on mobile */
        margin: 1.25rem;
        padding: 1.25rem;
    }

    .card-image, .card-content {
        width: 100%; /* Full width for image and content */
    }

    .card-header img {
        display: none; /* Hide the logo */
    }

    .disclaimer {
        font-size: 0.75rem;
        max-width: 70%;
    }
}
