.es-color {
  color: #6666ff;
}

.center {
    display: block;
    margin: 0 auto;
}

.md-header {
  background-color: #333333;
}

.md-tabs {
  background-color: #333333;
}

.md-footer-meta {
  background-color: #333333;
}

.es-container {
  padding-top: .0rem;
}

.es-product {
  margin: 32px 2.8rem;
  justify-content: center;
}

.es-product h1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2rem;
  color: #201D1E;
}


.es-logo-slogan {
  font-size: 0.6rem;
}

.es-product__content {
  padding-bottom: 1rem;
  margin: 0 auto;
}

.es-product__image {
  width: 17rem;
  height: 17rem;
  order: 1;
  padding-right: 2.5rem;
  padding-top: 1rem;
}

.es-product .md-button {
  color: #6666FF;
  border: 2px solid #6666FF;
  height: 40px;
  padding: 8px 18px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  line-height: 20px;
}

.es-product .md-button--primary {
  color: #FFF;
  background: #6666FF;
  border-color: var(--md-primary-bg-color)
}

.es-product .md-button:focus,
.es-product .md-button:hover {
  background-color: var(--md-accent-fg-color);
  color: var(--md-default-bg-color);
  border-color: var(--md-accent-fg-color)
}

.feature-item h2 img {
  height: 30px;
  float: left;
  margin-right: 10px;
}

.top-hr {
  margin-top: 42px;
}

.feature-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0 15px;
  word-break: break-word
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;
  margin: 0 0 10px;
  display: block;
}

@media screen and (max-width: 30em) {
  .es-product h1 {
    font-size: 1.4rem
  }
}

@media screen and (min-width: 60em) {
  .es-product {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .es-product__content {
    max-width: 22rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 1.0rem;
    margin-right: 4.0rem;
    align-items: center;
  }
}

@media screen and (min-width: 76.25em) {
  .top-hr {
    width: 100%;
    display: flex;
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 .2rem;
  }

  .feature-item {
    flex: 1;
    min-width: 0;
  }
}

.hr {
  border-bottom: 1px solid #eee;
  width: 100%;
  margin: 20px 0;
}

.text-center {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 10px;
}