.es-color {
  color: #6654a8;
}

.center {
    display: block;
    margin: 0 auto;
}

.md-header {
  background-color: #333333;
}

.md-tabs {
  background-color: #333333;
}

.md-footer-meta {
  background-color: #333333;
}

.es-container {
  padding-top: .0rem;
}

.es-product {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  justify-content: center;

}

.es-product h1 {
  margin-bottom: 0rem;
  font-weight: 700;
  font-size: 3.6rem;
  color: #6654a8;
}


.es-logo-slogan {
  margin-top: 0;
  argin-left: 0.15rem;
  font-size: 1.25rem;
  color: #666666;
}

.es-product__content {
  padding-bottom: 1rem;
  max-width: 32rem;
  margin: 0 2rem;
}

.es-product__image {
  display: none;
}

.es-product .md-button {
  color: #6654a8;
  border: 2px solid #6654a8;
  height: 40px;
  padding: 8px 18px;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
  line-height: 20px;
  margin-right: 5px;
}

.es-product .md-button--primary {
  color: #FFF;
  border: 2px solid #6654a8;
  background: #6654a8;
}

.es-product .md-button:focus,
.es-product .md-button:hover {
  background-color: var(--md-accent-fg-color);
  color: var(--md-default-bg-color);
  border-color: var(--md-accent-fg-color)
}


.top-hr {
  margin-top: 42px;
}

.feature-item {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0.1rem 2rem;
  word-break: break-word
}

.feature-item h2 {
  color: #333;
  font-weight: 300;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
}

.feature-item h2 img {
  height: 1.5rem;
  float: left;
  margin-right: 0.6rem;
  margin-top: 0rem;
}

.feature-item p {
  font-size: 1rem;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #111;
  margin: 0 0 0.5rem;
  display: block;
}

@media screen and (max-width: 42em) {
  .es-product h1 {
    font-size: 2.8rem;
    margin-right: 0;
  }
  .es-product__image {
    display: none;
  }
  .es-logo-slogan {
    margin-top: 0;
    argin-left: 0.1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 60em) {

}

@media screen and (min-width: 76.25em) {

  .es-product {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .es-product__content {
    max-width: 35rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 3.5rem;
    margin-right: 6rem;
    align-items: center;
  }


  .es-product__image {
    width: 17rem;
    height: 17rem;
    order: 1;
    padding-right: 0;
    padding-top: 0;
    display: block;
  }

  .top-hr {
    width: 100%;
    display: flex;
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 .2rem;
  }

.feature-item {
    flex: 1;
    min-width: 0;
  }
}

.hr {
  border-bottom: 1px solid #eee;
  width: 100%;
  margin: 20px 0;
}

.text-center {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 10px;
}

.disclaimer {
    font-size: 0.75em;
    max-width: 50%;
}

.top-hr.cards {
  display: flex; /* Flex container to center the image */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
}

.card {
    display: flex;
    width: 80%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px;
    font-size: 0.75rem;
    line-height: 1.4em;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    border-radius: 10px; /* Rounded corners for the card */
    transition: transform 0.3s ease; /* Animation for card scaling */
}

.card:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.card-image {
    width: 30%;
    display: flex; /* Flex container to center the image */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}

.card-image img {
    width: 80%;
    height: auto;
    display: block;
}

.card-content {
    width: 50%;
    padding: 20px;
}

.card-header h2 {
    margin: 0;
    color: #333;
}

.card-header img {
    width: 15px;
}

.card-text {
    margin-top: 15px;
    color: #111;
}
